.card-produk {
  background-color: rgb(221, 248, 248);
  border-radius: 10px;
  margin-bottom: 10px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-card-produk {
  padding: 10px 5px 0 5px;
  font-size: 20px;
  margin-bottom: 0;
}

.kategori-card-produk {
  margin-bottom: 0;
  font-size: 16px;
  padding: 0 5px 0 5px;
}

.harga-card-produk {
  margin-bottom: 0;
  font-size: 18px;
  padding: 5px 5px 5px 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}
